.button {
  background: transparent;
  border: none;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: right;
  color: #ffd798;
  margin-top: 1rem;
  padding: 0 0 0.8rem 0;
  border-bottom: 1px solid #ffd798;
}
