.cart-items {
  background-color: white;
  height: 100%;
  .title {
    font-weight: 900;
    font-size: 1.5rem;
    text-align: right;
    color: #0098a0;
    margin-bottom: 2rem;
  }
  i {
    font-size: 4rem;
  }
}
