.footer {
  .contact {
    background-color: #f7f7f7;
    width: 29px;
    height: 29px;
    padding: 9px 6.7px 9px 7.7px;
    border-radius: 7px;
    i {
      font-size: 1.5rem;
    }
  }
  @media only screen and (max-width: 768px) {
    margin: auto;
  }
}
